<!DOCTYPE html>
<html>

<head>
  <title>API Example</title>
  <style>
    #signin {
        background-color: #4266bb;
        color: white;
        height: 40px;
    }
    #signup {
        background-color: #4266bb;
        color: white;
        height: 40px;
    }
    .container {
      max-width: 600px;
      margin: 50px auto;
      margin-top: 20%;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <form method="get">
        <input id="signup" type="submit" value="SIGN UP" formaction="/sign-up">
        <input id="signin" type="submit" value="SIGN IN" formaction="/sign-in">
       </form>
  </div>
</body>

</html>